.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: red;
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  width: 100%;
}

.MenuList {
  background-color: yellow;
}

.Sidebar {
  background-color: blue;
}

.MenuItem button {
  background-color: green;
  color: purple;
  border-radius: 12px;
}
