.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: blue;
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  width: 100%;
}

.MenuList {
  background-color: red;
}

.Sidebar {
  background-color: green;
}
